<footer class="footer py-2 bg-dark border-bottom border-body mt-auto" data-bs-theme="dark">
    <div class="container"  >
        <span class="text-muted">&copy; WalkMyDog 2024</span>
    </div>
</footer>
